/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

#main{
    float: right;
    width:400px;
    height:300px;
    margin-left:15px;
}

.hero {
    text-align: left;
    padding: 5rem 5rem;
    width: 100% ;
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #000000;
}

.cta-button {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
}

.featured-products {
    padding: 3rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.product-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 2rem; */
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .product img {
    max-width: 100%;
    height: auto;
} */

.price {
    font-weight: bold;
    color: #007bff;
    display: block;
    margin: 1rem 0;
}

.buy-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
